---
permalink: css/base.css
---
{% include "./1-reset.css" %}
{% include "./2-layout-primitives.css" %}
{% include "./3-fonts.css" %}
{% include "./4-custom-properties.css" %}
{% include "./5-utility-classes.css" %}
{% include "./6-global-styles.css" %}
{% include "../layout/header.css" %}
{% include "../layout/main.css" %}
{% include "../layout/footer.css" %}