.stack {
  display: flex;
  flex-direction: column;
  justify-content: var(--vertical-alignment, flex-start);
}

.stack > * + * {
  margin-block-start: var(--margin-block-start);
}

.box {
  color: var(--color);
  background-color: var(--background-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  padding: var(--padding, 1.5rem);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: var(--text-align);
  max-inline-size: var(--max-inline-size);
  padding-inline: var(--padding-inline);
}

.cluster {
  display: flex;
  flex-wrap: var(--flex-wrap);
  column-gap: var(--column-gap, 0.5rem);
  row-gap: var(--row-gap, 0.5rem);
  justify-content: var(--horizontal-alignment);
  align-items: var(--vertical-alignment);
}

.cover {
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  min-block-size: 100vh;
}

.grid {
  display: grid;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  grid-template-columns: var(--grid-template-columns);
}

.frame {
  aspect-ratio: var(--numerator) / var(--denominator);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
