---
title : "Accueil"
layout : "base.njk"
---

<main>
  <div class="stack">
    <section class="presentation">
      <div class="center stack">
        <h2>Présentation</h2>
        <article>
          <h3>Produisons ensemble la vidéo qu’il vous faut</h3>
          <p>L’agence de production VPSTUDIO PROD vous propose du contenu de haute qualité afin d’améliorer votre communtication. Nous allons vous acconpagner sur vos projets photos et vidéos avec nos techniques de production. Notre expertise nous rend unique.</p>
        </article>
      </div>
    </section>
  </div>
</main>