---
title : "Accueil"
layout : "base.njk"
---

<main>
  <div class="stack">
    <section class="presentation">
      <div class="center stack">
        <h2>Présentation</h2>
        <article>
          <h3>Produisons ensemble la vidéo qu’il vous faut</h3>
          <p>L’agence de production VPSTUDIO PROD vous propose du contenu de haute qualité afin d’améliorer votre communtication. Nous allons vous accompagner sur vos projets photos et vidéos avec nos techniques de production. Notre expertise nous rend unique.</p>
        </article>
      </div>
    </section>
    <section class="realisations">
      <div class="center stack">
        <h2>Nos réalisations</h2>
        <div class="cluster slider">
          {%- for category in videoCategories %}
          <article class="box card">
            <h3>{{ category.name }}</h3>
            <ul>
              {% for subcategory in category.subcategories %}
                <li>{{ subcategory }}</li>
              {% endfor %}
            </ul>
          </article>
          {%- endfor %}
        </div>
      </div>
    </section>
    <section class="workflow">
      <div class="center stack">
        <h2>Votre en projet en trois étapes</h2>
        <div class="cluster">
          {% for step in projectSteps %}
            <article class="box card" data-type="project-step">
              <h3>{{ step.name }}</h3>
              <p>{{ step.description }}</p>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</main>