---
title : "Accueil"
layout : "base.njk"
---

<main>
  <div class="stack">
    <section class="presentation">
      <div class="center stack">
        <h2>Présentation</h2>
        <article>
          <h3>Produisons ensemble la vidéo qu’il vous faut</h3>
          <p>L’agence de production VPSTUDIO PROD vous propose du contenu de haute qualité afin d’améliorer votre communtication. Nous allons vous accompagner sur vos projets photos et vidéos avec nos techniques de production. Notre expertise nous rend unique.</p>
        </article>
      </div>
    </section>
    <section class="realisations">
      <div class="center stack">
        <h2>Nos réalisations</h2>
        <div class="cluster slider">
          {%- for category in videoCategories %}
          <article class="box card">
            <h3>{{ category.name }}</h3>
            <ul>
              {% for subcategory in category.subcategories %}
                <li>{{ subcategory }}</li>
              {% endfor %}
            </ul>
          </article>
          {%- endfor %}
        </div>
      </div>
    </section>
    <section class="workflow">
      <div class="center stack">
        <h2>Votre en projet en trois étapes</h2>
        <div class="cluster">
          {% for step in projectSteps %}
            <article class="box card" data-type="project-step">
              <h3>{{ step.name }}</h3>
              <p>{{ step.description }}</p>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="customers center">
      <h2>Ils m’ont fait confiance</h2>
      <ul class="cluster">
        {% for customer in customers %}
          <li>
            <img src="{{customer.image}}" alt="{{customer.name}}">
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="about center">
      <h2>À propos de moi</h2>
      <article class="box stack">
        <p>La vidéo a toujours été une passion que je pratiquais sur mon temps libre, depuis 2017 j’ai décidé d’y consacrer beaucoup plus de temps.</p>
        <p>J’aimais beaucoup ce que je faisais et mes amis me le disaient fréquement, maintenant se sont mes clients qui apprécient mon travail, c’est ce qui me motive.Je me challenge sur chaque projet et c’est ce qui me permet de me dépasser et de viser toujours plus haut, c’est l’essence même de mes productions. </p>
      </article>
    </section>
  </div>
</main>